[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/colordrop"]
	path = themes/colordrop
	url = https://github.com/humrochagf/colordrop.git
[submodule "themes/detox"]
	path = themes/detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox.git
